.user-profile {
  flex: 1;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }

  .user-profile__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    &:hover {
      outline: 1px solid rgb(185, 185, 185);
    }
    border-radius: 0.5rem;
    padding: 1.5rem;

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;

      .email {
        display: inline-flex;
        gap: 0.3rem;
        align-items: center;
      }
    }
  }
}

.form-post {
  flex: 3;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  padding: 1rem 1rem 0;

  textarea {
    border: none;
    resize: none;
    flex: 1;

    &:focus {
      outline: none;
    }
  }

  .action {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0.5rem 0;

    .attach_file {
      align-self: flex-end;
    }
  }


}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 0.5rem;

  .header {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .action {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

.comment-of-comment-form {
  display: flex;
  gap: 0.4rem;

  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;

    &:focus {
      outline: none;
    }
  }
}

.form-comment {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin: 1rem 0;
}

